<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../board/board.css">
    <title th:text="${lobbyName} + ' - Scacchi'"></title>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
</head>
<body>

<div id="retrievedLobbyInfo">
    <p id="currentPosition" th:text="${gameBoard}"></p>
    <p id="playerColor" th:text="${playerColor}"></p>
    <p id="lobbyId" th:text="${lobbyId}"></p>
    <p id="player1Name" th:text="${player1Name}"></p>
    <p id="player2Name" th:text="${player2Name}"></p>
    <p id="player1Color" th:text="${player1Color}"></p>
    <p id="player2Color" th:text="${player2Color}"></p>
</div>
<div id="main">
    <div class="flex-container">
        <div id="chessboardDiv">
            <canvas id="chessboardCanvas"></canvas>
        </div>
        <div id="LobbyInfo">
            <h3 id="lobbyName" th:text="${lobbyName}"></h3>
            <p th:class="'playerLabel playerLabelColor-' + ${player1Color}">Giocatore 1 <span th:if="${playerNumber == 1}">(Tu)</span>: <span id="player1NameSpan" th:text="${player1Name}"></span></p>
            <p th:class="'playerLabel playerLabelColor-' + ${player2Color}">Giocatore 2 <span th:if="${playerNumber == 2}">(Tu)</span>: <span id="player2NameSpan" th:text="${player2Name == null ? 'In attesa...' : player2Name}"></span></p>
        </div>
    </div>
</div>

</body>
<script>
    const retrievedPosition = document.getElementById("currentPosition").innerText;
    const retrievedPlayerColor = document.getElementById("playerColor").innerText;
    const retrievedLobbyId = document.getElementById("lobbyId").innerText;
</script>
<script src="../js/common.js"></script>
<script src="../board/chessboard.js"></script>
<script src="../board/chessboardsocket.js"></script>
<script>
    window.onload = stompClient.activate();
</script>
</html>