<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../board/board.css">
    <title th:text="${lobbyName} + ' - Scacchi'"></title>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
</head>
<body>

<div id="retrievedLobbyInfo">
    <p id="currentPosition" th:text="${gameBoard}"></p>
    <p id="playerColor" th:text="${playerColor}"></p>
    <p id="lobbyId" th:text="${lobbyId}"></p>
    <p id="gameStarted" th:if="${gameStarted}"></p>
    <p id="playerId" th:text="${playerId}"></p>
</div>
<div id="main">
    <div class="flex-container">
        <div id="chessboardDiv">
            <canvas id="chessboardCanvas"></canvas>
        </div>
        <div id="lobbyInfo">
            <div id="topnav-label" class="topnav">
                <button type="button" id="lobbyInfoGameButton-label" onclick="selectLobbyGameMenu();" class="button-active">Partita</button>
                <button type="button" id="lobbyInfoChatButton-label" onclick="selectLobbyChatMenu();">Chat</button>
                <button type="button" id="lobbyInfoSettingsButton-label" onclick="selectLobbySettingsMenu();">Impostazioni</button>

                <button type="button" class="float-right" onclick="window.location.href = '../' ">Men&ugrave; principale</button>
            </div>
            <div id="topnav-icon" class="topnav">
                <button type="button" id="lobbyInfoGameButton-icon" onclick="selectLobbyGameMenu();" class="button-active">&#9817;</button>
                <button type="button" id="lobbyInfoChatButton-icon" onclick="selectLobbyChatMenu();">&#128488;</button>
                <button type="button" id="lobbyInfoSettingsButton-icon" onclick="selectLobbySettingsMenu();">&#9881;</button>

                <button type="button" class="float-right" onclick="window.location.href = '../' ">&#8962;</button>
            </div>
            <div id="lobbySelectedContent" style="display: block;">
                <div id="lobbyInfoContentGame">
                    <h2 id="lobbyName" th:text="${lobbyName}"></h2>
                    <div class="players">
                        <p th:class="'playerLabel playerLabelColor-' + ${player1Color}">Giocatore 1 <span th:if="${playerNumber == 1}">(Tu)</span>: <span id="player1NameSpan" th:text="${player1Name}"></span> <span th:text="${#strings.equalsIgnoreCase(player1Color, 'WHITE') ? '&#9812;' : '&#9818;'}"></span></p>
                        <p th:class="'playerLabel playerLabel2 playerLabelColor-' + ${player2Color}">Giocatore 2 <span th:if="${playerNumber == 2}">(Tu)</span>: <span id="player2NameSpan" th:text="${player2Name == null ? 'In attesa...' : player2Name}"></span> <span th:text="${#strings.equalsIgnoreCase(player2Color, 'WHITE') ? '&#9812;' : '&#9818;'}"></span></p>
                    </div>
                    <div id="invitePlayerDiv">
                        <button type="button" onclick="openInviteModal();">Invita alla lobby</button>
                    </div>
                    <hr>
                    <div id="endGameDiv">
                        <button type="button" id="endGameAskDrawButton" onclick="askForDraw();">Richiedi patta</button>
                        <button type="button" id="endGameResignButton" onclick="resign();">Arrenditi</button>
                    </div>
                    <div id="postGameDiv" style="display: none;">
                        <button type="button" id="postGameRematchButton" onclick="askForRematch();">Sfida di nuovo</button>
                        <button type="button" id="postGameExitButton" onclick="window.location.href = '../' ">Esci</button>
                    </div>
                    <hr>
                    <div id="movesHistory">
                        <h3>Mosse</h3>
                        <div id="movesHistorySpace">
                        </div>
                    </div>
                </div>
                <div id="lobbyInfoContentChat" style="display: none;">
                    <div id="chatMessages">
                    </div>
                    <div id="chatInput">
                        <input type="text" id="chatInputField" placeholder="Scrivi un messaggio..." onkeydown="if (event.key === 'Enter') sendMessage();">
                        <button type="button" onclick="sendMessage();">Invia</button>
                    </div>
                </div>
                <div id="lobbyInfoContentSettings" style="display: none;">

                </div>
            </div>
        </div>
    </div>
    <div id="inviteModal" class="modalLayer">
        <div id="inviteModalContent" class="modalContent">
            <span class="close" onclick="closeInviteModal();">&times;</span>
            <h3>Invia il seguente link a chi desideri invitare.</h3>
            <input type="text" id="inviteModalLink" readonly>
            <button type="button" onclick="copyInviteLink();">Copia</button>
        </div>
    </div>
    <div id="gameEndModal" class="modalLayer" th:style="${gameOutcome != null ? 'display: block;' : ''}">
        <div id="gameEndModalContent" class="modalContent">
            <span class="close" onclick="closeGameEndModal();">&times;</span>

            <h3 th:id="'gameEndModalStatus'" class="gameEndModalStatus" th:if="${gameOutcome == null ? '' : (#strings.equalsIgnoreCase('WHITE_WIN', gameOutcome.status) ? 'Il bianco vince' : (#strings.equalsIgnoreCase('BLACK_WIN', gameOutcome.status) ? 'Il nero vince' : 'Pareggio' ) ) }">Vittoria del Bianco</h3>


            <h4 id="gameEndModalCause" class="gameEndModalCause" th:text="${gameOutcome != null ? gameOutcome.cause : ''}"></h4>

            <button type="button" onclick="closeGameEndModal();">Chiudi</button>
            <button type="button" onclick="window.location.href = '../'">Men&ugrave; principale</button>
        </div>
    </div>
    <div class="notification-content" id="notification-content">
        <div class="notification-close">
            <div onclick="closeNotification();">X</div>
        </div>
        <div class="notification-header" id="notification-header">
            Richiesta di patta
        </div>
        <div class="notification-body" id="notification-body">

        </div>
        <div class="notification-footer" id="notification-footer">
        </div>
    </div>
    <div class="feedback-popup" id="feedback-popup">
        Provola copiata!
    </div>
</div>

</body>
<script>
    const retrievedPosition = document.getElementById("currentPosition").innerText;
    const retrievedPlayerColor = document.getElementById("playerColor").innerText;
    const retrievedLobbyId = document.getElementById("lobbyId").innerText;
    const retrievedGameStarted = !!document.getElementById("gameStarted");
    const retrievedPlayerId = document.getElementById("playerId").innerText;
    const retrievedGameover = document.getElementById("gameEndModal").style.display === "block";
</script>
<script src="../js/common.js"></script>
<script src="../js/lobby.js"></script>
<script src="../board/chessboard.js"></script>
<script src="../board/chessboardsocket.js"></script>
<script src="../board/chessboardsound.js"></script>
<script>
    window.onload = function () {
        stompClient.activate();
        writeInviteModalLink();
    }
</script>
</html>