<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style1.css">
    <title>Lobby non trovata - Scacchi</title>
</head>
<body>
<div id="sprites" style="display: none">
    <img id="rookSprite" src="../img/rook.png" alt="pawn" width="60">
    <img id="kingSprite" src="../img/king.png" alt="pawn" width="60">
    <img id="queenSprite" src="../img/queen.png" alt="pawn" width="60">
    <img id="bishopSprite" src="../img/bishop.png" alt="pawn" width="60">
    <img id="knightSprite" src="../img/knight.png" alt="pawn" width="60">
</div>
<canvas id="mainCanvas"></canvas>

<div class="main" id="main">
    <h1>Lobby non trovata</h1>
    <h2>La lobby non esiste oppure &egrave; stata cancellata</h2>
    <br><br>
    <button type="button" id="backButton">Men&ugrave; principale</button>
</div>
</body>
<script src="../js/common.js"></script>
<script src="../js/canvas.js"></script>
<script src="../js/lobbyFull.js"></script>
</html>