<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../board/board.css">
    <title th:text="'Lobby - ' + ${lobbyName}"></title>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
</head>
<body>

<div id="lobbyInfo">
    <p id="currentPosition" th:text="${gameBoard}"></p>
    <p id="playerColor" th:text="${playerColor}"></p>
    <p id="lobbyId" th:text="${lobbyId}"></p>
    <p id="playerToken" th:text="${playerToken}"></p>
    <p id="player1Name" th:text="${player1Name}"></p>
    <p id="player2Name" th:text="${player2Name}"></p>
    <p id="player1Color" th:text="${player1Color}"></p>
    <p id="player2Color" th:text="${player2Color}"></p>
</div>
<div id="main">
    <h1>Partita in corso</h1>
    <div class="flex-container">
        <div id="chessboardDiv">
            <canvas id="chessboardCanvas"></canvas>
        </div>
        <div id="chessboardInfo">

        </div>
    </div>
</div>

</body>
<script>
    const retrievedPosition = document.getElementById("currentPosition").innerText;
    const retrievedPlayerColor = document.getElementById("playerColor").innerText;
    const retrievedlobbyId = document.getElementById("lobbyId").innerText;
    const retrievedPlayerToken = document.getElementById("playerToken").innerText;
</script>
<script src="../board/chessboard.js"></script>
<script src="../board/chessboardsocket.js"></script>
<script>
    window.onload = stompClient.activate();
</script>
</html>