#chessboardCanvas {
    border: 4px solid #940404;
}

body {
    background-color: #e4bb9c;
    margin: 0;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#retrievedLobbyInfo {
    display: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

#chessboardDiv {
    width: 100%;
    height: 90vh;
    margin: 10px;
}

#LobbyInfo {
    width: 100%;
    height: 100vh;
    border-left: 2px solid #150707;
    padding: 10px;

    background-color: #af7d54;
}

@media (max-width: 800px) {
    #chessboardDiv {
        height: 50vh;
    }
    #LobbyInfo {
        height: 50vh;
        border-left: none;
        border-top: 2px solid #150707;
    }
    .flex-container {
        flex-direction: column;
    }
}