#chessboardCanvas {
    border: 4px solid #940404;
}

body {
    background-color: #e4bb9c;
    margin: 0;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#retrievedLobbyInfo {
    display: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

#chessboardDiv {
    width: calc(100% - 20px);
    height: calc(100vh - 20px);
    margin: 10px;
}

#lobbyInfo {
    width: 50%;
    height: 100vh;
    border-left: 2px solid #150707;
    background-color: #c79a69;
}

#lobbySelectedContent {
    padding: 10px;
}

.topnav {
    background-color: #af7d54;
    padding: 5px;
}

button {
    background-color: #aa0404;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #880303;
}

.button-active {
    background-color: #3a3434;
}
.button-active:hover {
    background-color: #3a3434;
}

#topnav-icon > button {
    font-size: 22px;
    padding: 6px 12px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    width: 70%;
}

.float-right {
    float: right;
}
.players {
    padding: 0;
}

.playerLabel {
    border: 2px solid #940404;
    padding: 5px;
    font-size: 20px;
    margin: 0;
}

.playerLabel2 {
    border-top: 0;
}

.playerLabelColor-WHITE {
    background-color: #f0f0f0;
    color: #150707;
}

.playerLabelColor-BLACK {
    background-color: #838383;
    color: #150707;
}

.modalLayer {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.5s ease-in-out;

}

.modalContent {
    background-color: #f4f4f4;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
    width: 500px;
}

.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 800px) {
    #chessboardDiv {
        height: 50vh;
    }
    #lobbyInfo {
        width: 100%;
        height: 50vh;
        border-left: none;
        border-top: 2px solid #150707;
    }
    .flex-container {
        flex-direction: column;
    }
}

.notification-content {
    z-index: 5;
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 3px solid #aa0404;
    background-color: #f0d9b5;
    width: 400px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.notification-header {
    font-size: 25px;
    font-weight: bold;
    padding: 2px 10px;
    background-color: #e4bb9c;
    border-bottom: 1px solid #000000;
}

.notification-body {
    padding: 10px;
}

.notification-footer {
    padding: 2px 10px;
}

.notification-close {
    padding: 2px;
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.feedback-popup {
    display: none;
    position: fixed;
    z-index: 15;
    padding: 5px 30px;
    top: 30px;
    font-size: 24px;
    background-color: #e4bb9c;
    border: 3px solid #aa0404;
    animation: fadeIn 0.5s ease-in-out;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
}