#chessboardCanvas {
    border: 4px solid #940404;
}

body {
    background-color: #e4bb9c;
    margin: 0;
}

#lobbyInfo {
    display: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

#chessboardDiv {
    width: 100%;
    height: 90vh;
    margin: 10px;
}

#chessboardInfo {
    width: 100%;
    height: 90vh;
    border-left: 2px solid #150707;
}

@media (max-width: 800px) {
    #chessboardDiv {
        height: 50vh;
    }
    #chessboardInfo {
        height: 50vh;
        border-left: none;
        border-top: 2px solid #150707;
    }
    .flex-container {
        flex-direction: column;
    }
}